# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

data/*.mp4 # ignore data directory
build/
CMakeFiles
CMakeCache.txt

Makefile
cmake_install.cmake

ImplementacjePrzemyslowe

#VS2017
.vs/
CMakeSettings.json
CppProperties.json
